$paddinglr: 12.285714%;
$paddinglr-m: 5%;
$paddinglr-s: 20px;
$lightgrey: #e2e7ed;
$darkgrey: #626262;
$lightblue: #00aeff;
$darkblue: #008bcc;


* {
	box-sizing: border-box;
}

html {
	font: 100%/173.333333% "PT Sans", Arial, sans-serif;
}

body {
	font-size: 0.9375rem;
	line-height: 173.333333%;
	margin: 0 auto;
}

header, section, footer {	
	padding-left: $paddinglr;
	padding-right: $paddinglr;
}

a {text-decoration: none;}

h1 {
	font-size: 2.805rem;
	font-weight: normal;
	margin-right: 40px;
}

h2 {
	font-size: 2rem;
	font-weight: normal;
}

@media screen and (max-width: 1360px) {
	header, section, footer {
		padding-left: $paddinglr-m;
		padding-right: $paddinglr-m;
	}
}