.nav {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	flex: 1;
	justify-content: space-between;
	padding-left: 0;
	li {
		display: flex;
		flex: 1;
		border-right: 2px solid #acacac;
		line-height: 86.666667%;
		&:last-child {
			border-right: none;
		}
		a {
			display: flex;
			flex: 1;
			justify-content: center;
			flex-flow: row nowrap;
		}
	}
}
