@import "normalize";
@import "base";
@import "common_nav";
@import "header";

img {
	max-width: 100%;
}

.headline {
	padding-left: $paddinglr;
	padding-right: $paddinglr;
	background-color: $lightgrey;
	h1 {
		color: $darkgrey;
		text-align: left;
		line-height: 2em;
	}
}

.feedback {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.form {
	p {
		color: #2a2e39;
		width: 75%;
	}
	form {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
	}
	input {
		margin-bottom: 25px;
	}
	input[type="text"], input[type="email"] {
		padding: 9px;
		width: 58%;
		border: none;
		border: 1px solid #d9d9d9;
	}
	input[type="submit"] {
		border: none;
		padding: 15px;
		background-color: $lightblue;
		border-radius: 3px;
		width: 28%;
		color: #fff;
		cursor: pointer;
	}
	label {
		margin-bottom: 10px;
		color: #2a2e39;
	}
	textarea {
		margin-bottom: 30px;
		border: none;
		border: 1px solid #d9d9d9;
		width: 58%;
	}
}

.contacts {
	margin-top: 50px;
	.contact-box {
		margin-left: 40px;
	}
	h2 {
		color: $darkgrey;
		padding-bottom: 20px;
	}
	h3 {
		font-size: 1.3333333rem;
		margin-bottom: -10px;
		background: url('../img/location.png') 0 3px no-repeat;
		padding-left: 40px;
		margin-left: -40px;
		font-weight: normal;
	}
	p {
		color: $darkgrey;
	}
	.address {
		line-height: 120%;
	}
	.email {
		a {
			color: $lightblue;
		}
	}
}

@media screen and (max-width: 720px) {
	.headline h1 {
		font-size: 2rem;
	}
	.feedback {
		flex-flow: column nowrap;
	}
	.form {
		p {
			width: 85%;
		}
		input[type="text"], input[type="email"], textarea {
			width: 80%;
		}
		input[type="text"], input[type="email"] {
			padding: 5px;
		}
		input[type="submit"] {
			width: 50%;
		}
	}
}

@media screen and (max-width: 480px) {
	.headline h1 {
		font-size: 1.5rem;
	}
	form {
		align-items: stretch;
	}
	.form {
		input[type="text"], input[type="email"], textarea, p {
			width: 100%;
		}
		input[type="submit"] {
			align-self: center;
			width: 90%;
		}
	}
}

@import "footer";